<!-- wp:template-part {"slug":"header-dark","theme":"gauvin","tagName":"header"} /-->

<!-- wp:group {"className":"is-style-section-style2","style":{"spacing":{"padding":{"top":"var:preset|spacing|7","bottom":"var:preset|spacing|7","left":"var:preset|spacing|2","right":"var:preset|spacing|2"},"blockGap":"var:preset|spacing|5"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-section-style2" style="padding-top:var(--wp--preset--spacing--7);padding-right:var(--wp--preset--spacing--2);padding-bottom:var(--wp--preset--spacing--7);padding-left:var(--wp--preset--spacing--2)"><!-- wp:spacer {"height":"108px"} -->
    <div style="height:108px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:query-title {"type":"search","fontSize":"h-three"} /-->
    
    <!-- wp:group {"metadata":{"name":"recherche-loop"},"className":"is-style-default","style":{"spacing":{"blockGap":"var:preset|spacing|5","padding":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained","contentSize":""}} -->
    <div class="wp-block-group is-style-default" style="padding-top:0;padding-bottom:0"><!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"var:preset|spacing|5"}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
    <main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:query {"queryId":2,"query":{"perPage":10,"pages":0,"offset":0,"postType":"page","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"parents":[],"format":[]},"align":"full","className":"is-style-panneau","layout":{"type":"default"}} -->
    <div class="wp-block-query alignfull is-style-panneau"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":"50%","style":{"elements":{"link":{"color":{"text":"var:preset|color|base-1"}}}}} -->
    <div class="wp-block-column has-link-color" style="flex-basis:50%"><!-- wp:post-title {"isLink":true} /-->
    
    <!-- wp:read-more {"content":"En savoir plus"} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"50%"} -->
    <div class="wp-block-column" style="flex-basis:50%"><!-- wp:post-excerpt /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:query --></main>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"gauvin","tagName":"footer"} /-->